html,
body {
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    background: linear-gradient(38deg, #070707, #282828);
    background-blend-mode: multiply multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

ul {
    list-style: none;
}

a,
a:hover,
a:active,
a:link {
    text-decoration: none;
    color: inherit;
}

.white {
    color: #fbfbfb;
}


/* .theHeading {
    font-family: 'SamsungOne', sans-serif;
    font-weight: 700;
} */

.center-middle {
    transform: translateY(25%);
}

.brand {
    width: 100px;
    height: 100px;
}

.theDetails,
.theCardDetails {
    font-family: 'Samsung Sharp Sans', sans-serif;
    font-weight: 400;
    line-height: 25px;
}

.theCardDetails {
    font-size: 14px;
}

.theButton button,
.theButton-cta button {
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: 'Samsung Sharp Sans', sans-serif;
    font-size: 14px;
}

.theButton button {
    background-color: #282828;
}

.theButton-cta button {
    background-color: #070707;
}

.theButton button:hover,
.theButton-cta button:hover,
.theHomeBtn:hover,
.theButton button:active,
.theButton-cta button:active,
.theHomeBtn:active {
    background-color: #fff;
    color: #282828;
    transition: all .4s ease-in-out;
}

.btn-space {
    padding: 10px 30px;
}

.theHomeBtn {
    background-color: #282828;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 1rem 2.2px;
}

.theHomeBtn-wrap {
    position: fixed;
    z-index: 999999;
    bottom: 5%;
    left: 50%;
}

.theHomeBtn i {
    position: relative;
    font-size: 1.6rem;
    margin: 20px;
}


/* The Card */

.theCard {
    background-color: #282828;
    border-radius: 12px;
}