{% extends "index.html" %}

{% block title %}
Home
{% endblock title %}

{% block content %}
<div class="container">
    <div class="center-middle">
        <div class="row d-xl-flex justify-content-center">
            <div class="col-xl-6">
                <div class="p-xl-2">
                    <div class="theHeading white">
                        <h1>Seamless Design, Powerful Technology</h1>
                    </div>
                </div>
                <div class="p-xl-2">
                    <div class="theDetails white">
                        <p>If you are looking to transform the ordinary into the extraordinary, the Galaxy S series has you covered. Revolutionary 8K cameras, all-day power and hyper-fast streaming just got a makeover for 2021</p>
                    </div>
                </div>
                <div class="p-xl-2">
                    <div class="theButton">
                        <button type="button" name="Discover" id="Discover" class="btn-space"><a href="showcase">Discover</a></button>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="mx-xl-5">
                    <div class="thePhone">
                        {% load static %}
                        <img width="400px" src="{% static 'media/phones/double-samsung.png'%}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}