{% extends "index.html" %}

{% block title %}
Showcase
{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="container my-xl-5">
        <div class="theHeading white">
            <h1> Our Latest Products</h1>        
        </div>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="container-fluid">
            <div class="container">
                <div class="container">
                    <div class="carousel-inner">
                        {% for phones in phone %}
                        <div class="theCard carousel-item" id="showCard">
                            <div class="py-xl-5">
                                <div class="row d-xl-flex justify-content-center">
                                    <div class="col-xl-4">
                                        <div class="p-xl-2 mx-xl-5">
                                            <div class="thePhone">
                                                {% load static %}
                                                <img width="220px" src="{{phones.image}}" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="p-xl-2">
                                            <div class="theHeading white">
                                                <h2>{{phones.name}}</h2>
                                            </div>
                                        </div>
                                        <div class="p-xl-2"> 
                                            <div class="theCardDetails white">
                                                <p>{{phones.about}}</p>
                                            </div>
                                        </div>
                                        <div class="p-xl-2">
                                            <div class="row">
                                                <div class="col-xl-2">
                                                    <div class="white">
                                                        <h3>{{phones.price}}$</h3>
                                                    </div>
                                                    <div class="theButton-cta">
                                                        <button type="button" name="Discover" id="Discover" class="btn-space">
                                                            <div class="d-flex flex-row">
                                                                <small>Buy</small> 
                                                                <i class="fi-sr-shopping-cart ps-xl-2"></i>
                                                            </div>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 mx-xl-4">
                                                    <div class="d-inline align-baseline">
                                                        <div class="py-xl-1 white">
                                                            <h6>Like it? Rate it</h6>
                                                        </div>
                                                        <div class="d-flex flex-row">
                                                            <i class="fi-sr-star white px-xl-1"></i>
                                                            <i class="fi-sr-star white px-xl-1"></i>
                                                            <i class="fi-sr-star white px-xl-1"></i>
                                                            <i class="fi-rr-star white px-xl-1"></i>
                                                            <i class="fi-rr-star white px-xl-1"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>
</div>

<div class="theHomeBtn-wrap">
    <div class="p-0 m-0">
        <a href="/">
            <div class="theHomeBtn">
                <i class="fi-sr-home white"></i>
            </div>
        </a>
    </div>
</div>

<script type="text/javascript" rel="javascript">
var phone = document.getElementById('showCard');
while(phone !== null) {
    phone.classList.add("active");
    break;
}   
</script>
{% endblock content %}