{% extends "index.html" %}

{% block title %}
Showcase
{% endblock title %}

{% block content %}

{% for phones in phone %}
{% cycle 'name' as name silent %}
<div class="modal fade position-fixed" id="purchase" tabindex="99" aria-labelledby="purchaseLabel" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Purchase {{phones.name}} for {{phones.price}} $</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <form>
            <div class="modal-body d-flex justify-content-center">
                <div class="col-10">

                    <div class="input-group my-4">
                        <span class="input-group-text">Card</span>
                        <input type="number" aria-label="Card" class="form-control" pattern="{1-9}[8]" required>
                    </div>

                    <div class="input-group my-4">
                        <span class="input-group-text">Csv | Exp</span>
                        <input type="number" aria-label="Csv" class="form-control" required>
                        <input type="number" aria-label="Exp" class="form-control" required>
                    </div>

                    <div class="input-group my-4">
                        <input type="text" class="form-control" placeholder="Account email" aria-label="Account email" aria-describedby="basic-addon2" required>
                        <span class="input-group-text" id="basic-addon2">@example.com</span>
                    </div>

                    <div class="input-group my-4">
                        <input type="password" class="form-control" placeholder="Account password" aria-label="Account password" aria-describedby="basic-addon2" required>
                    </div>
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <div class="theButton-cta">
                    <button type="submit" class="btn-space" name="purchase">Purchase</button>
                </div>
            </div>
        </form>
    </div>
  </div>
</div>
{% endfor %}

<div class="container-fluid">
    <div class="container my-xl-5">
        <div class="theHeading white">
            <h1> Our Latest Products</h1>        
        </div>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="container-fluid">
            <div class="container">
                <div class="container">
                    <div class="carousel-inner">
                        {% for phones in phone %}
                        <div class="theCard carousel-item" id="showCard">
                            <div class="py-xl-5">
                                <div class="row d-xl-flex justify-content-center">
                                    <div class="col-xl-4">
                                        <div class="p-xl-2 mx-xl-5">
                                            <div class="thePhone">
                                                {% load static %}
                                                <img width="220px" src="assets/{{phones.image}}" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="p-xl-2">
                                            <div class="theHeading white">
                                                <h2>{{phones.name}}</h2>
                                            </div>
                                        </div>
                                        <div class="p-xl-2"> 
                                            <div class="theCardDetails white">
                                                <p>{{phones.about}}</p>
                                            </div>
                                        </div>
                                        <div class="p-xl-2">
                                            <div class="row">
                                                <div class="col-xl-2">
                                                    <div class="white">
                                                        <h3>{{phones.price}}$</h3>
                                                    </div>
                                                    <div class="theButton-cta">
                                                        <button type="button" name="Discover" id="Discover" class="btn-space" data-bs-toggle="modal" data-bs-target="#purchase">
                                                            <div class="d-flex flex-row">
                                                                <small>Buy</small> 
                                                                <i class="fi-sr-shopping-cart ps-xl-2"></i>
                                                            </div>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 mx-xl-4">
                                                    <div class="d-inline align-baseline">
                                                        <div class="py-xl-1 white">
                                                            <h6>Like it? Rate it</h6>
                                                        </div>
                                                        <div class="d-flex flex-row">
                                                            <i class="fi-sr-star white px-xl-1"></i>
                                                            <i class="fi-sr-star white px-xl-1"></i>
                                                            <i class="fi-sr-star white px-xl-1"></i>
                                                            <i class="fi-rr-star white px-xl-1"></i>
                                                            <i class="fi-rr-star white px-xl-1"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>
</div>

<div class="theHomeBtn-wrap">
    <div class="p-0 m-0">
        <a href="/">
            <div class="theHomeBtn">
                <i class="fi-sr-home white"></i>
            </div>
        </a>
    </div>
</div>

<!-- Modal -->


<script type="text/javascript" rel="javascript">
var phone = document.getElementById('showCard');
while(phone !== null) {
    phone.classList.add("active");
    break;
}   
</script>
{% endblock content %}