{% extends "index.html" %}

{% block title %}
Home
{% endblock title %}

{% block content %}
<div class="container">
    <div class="container my-xl-5">
        <div class="theHeading white">
            <h1> Our Latest Products</h1>        
        </div>
    </div>
    <div class="container">
        <div class="container">
            {% for phones in phone %}
            <div class="theCard">
                <div class="p-xl-5">
                    <div class="row d-xl-flex justify-content-center">
                        <div class="col-xl-4">
                            <div class="p-xl-2 mx-xl-5">
                                <div class="thePhone">
                                    {% load static %}
                                    <img width="220px" src="{% static 'media/phones/samsung-galaxy.png'%}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="p-xl-2">
                                <div class="theHeading white">
                                    <h2>{{phones.name}}</h2>
                                </div>
                            </div>
                            <div class="p-xl-2"> 
                                <div class="theCardDetails white">
                                    <p>{{phones.about}}</p>
                                </div>
                            </div>
                            <div class="p-xl-2">
                                <div class="row">
                                    <div class="col-xl-2">
                                        <div class="white">
                                            <h4>{{phones.price}}$</h4>
                                        </div>
                                        <div class="theButton-cta">
                                            <button type="button" name="Discover" id="Discover" class="btn-space">
                                                <div class="d-flex flex-row">
                                                    <small>Buy</small> 
                                                    <i class="fi-rr-shop"></i>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 mx-xl-3">
                                        <div class="d-inline align-baseline">
                                            <div class="py-xl-1 white">
                                                <h6>Like it, Rate it</h6>
                                            </div>
                                            <div class="d-flex flex-row">
                                                <i class="fi-rr-star white px-xl-1"></i>
                                                <i class="fi-rr-star white px-xl-1"></i>
                                                <i class="fi-rr-star white px-xl-1"></i>
                                                <i class="fi-rr-star white px-xl-1"></i>
                                                <i class="fi-rr-star white px-xl-1"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="theHomeBtn-wrap">
    <div class="p-0 m-0">
        <a href="/">
            <div class="theHomeBtn">
                <i class="fi-rr-home white"></i>
            </div>
        </a>
    </div>
</div>
{% endblock content %}